<div class="text-edit-buttons">
	<a href="#" class="m-btn icn-only black make-bold edit-button" data-class="bold"><i class=" icon-bold icon-white"></i></a>
	<a href="#" class="m-btn icn-only black make-italic edit-button" data-class="italic"><i class=" icon-italic icon-white"></i></a>
	<a href="#" class="m-btn icn-only black make-underline edit-button" data-class="underline"><i class=" icon-underline icon-white"></i></a>
	<a href="#" class="m-btn icn-only black make-link edit-button" data-class="CreateLink"><i class=" icon-link icon-white"></i></a>
</div>
<p class="para" contenteditable="true">Paragraph</div>