<a href="#" data-bypass="true" class="remove-section m-btn red"><i class="icon-trash icon-white"></i> <span class="button-title">Remove Page</span></a>
<div class="button-list">
    <a href="#" data-bypass="true" class="add-title m-btn blue"><i class="icon-pencil icon-white"></i> <span class="button-title">Title</span></a>
    <a href="#" data-bypass="true" class="add-para m-btn green"><i class="icon-comment icon-white"></i> <span class="button-title">Paragraph</span></a>
    <a href="#" data-bypass="true" class="add-vid m-btn red"><i class="icon-white icon-play"></i> <span class="button-title">Video</span></a>
    <a href="#" data-bypass="true" class="add-inputs m-btn black"><i class="icon-check icon-white"></i> <span class="button-title">Inputs</span></a>
</div>
<div class="char-amount"></div>