<li class="title-filler">
		<a href="#" class="m-btn icn-only blue move-title"><i class="icon-move icon-white"></i></a>
	    <a href="#" class="m-btn icn-only black left-align edit-button" data-class="leftAlign"><i class=" icon-align-left icon-white"></i></a>
	    <a href="#" class="m-btn icn-only black center-align edit-button" data-class="centerAlign"><i class=" icon-align-center icon-white"></i></a>
	    <a href="#" class="m-btn icn-only black right-align edit-button" data-class="rightAlign"><i class=" icon-align-right icon-white"></i></a>
	    <a href="#" class="m-btn icn-only black make-link edit-button" data-class="makeLink"><i class=" icon-link icon-white"></i></a>
	    <a href="#" class="m-btn icn-only red remove-section-type"><i class="icon-remove icon-white"></i></a>
	    <div class="input-link">
			<input type="text" class="link-input" placeholder="Enter Link">
			<a href="#" class="m-btn icn-only black submit-link" data-class="InitLink"><i class="icon-check icon-white"></i></a>
			<a href="#" class="m-btn icn-only red cancel-link"><i class="icon-remove icon-white"></i></a>
		</div>
		<div class="title" contenteditable="true">Title. Drag and align.</div>
</li>
<li class="title-filler"><a href="#" data-bypass="true" class="add-bg m-btn purple"><i class="icon-picture icon-white"></i> <span class="button-title">Background</span></a></li>
<li class="title-filler"><div class="char-amount"></div></li>