/* H5BP styles. */
@import "../vendor/h5bp/css/style.css";
html,body,.main,.feed, input{
	height:100%;
	font-family: 'Marcellus', serif;
}
html{
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
	font-size:100%;
	background-color:#f5f5f5 !important;
}
.post-init, .post-section, .post-loading, .posting, .facebook-login, .posting-container,.post-sec, .video-container,
.video-container table{
	height:100%;
}
.video-container{
	width: 50%;
	margin:auto;
}
.title-list{
	height: 87%;
	width: 90%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.title-list li{
	height:25%;
	list-style-type: none;
	padding:3%;
	cursor:pointer;
}
.title-list li div {
	font-size:4em;
	line-height: 1em;
	outline: none;
}
.para{
	font-size:20px;
	line-height: 1.45em;
	outline: none;
	text-indent: 2em;
	padding:10px;
	max-width: 1000px;
	margin: auto;
}
.post-section, .post-loading,.add-toolbar{
	display: none;
}
.facebook-login, .add-toolbar {
	text-align:center;
}
.add-toolbar{
	width: 100%;
	position: fixed;
	bottom: 0px;
}
.facebook-login img{
	cursor: pointer;
	margin-top:24%;
}
.remove-section{
	position: absolute;
	right: 15px;
	top: 50px;
}
.button-list{
	margin-left:5px;
}
.post-sec{
	position: relative;
}
.add-bg{
	position: relative;
	top: 46%;
	left: 46%;
}
.char-amount{
	font-size:2.5em;
}
.move-title{
	cursor:move;
}
.borderize{
	background: teal;
	background: rgba(0,128,128,0.2);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.leftAlign{
	text-align: left;
}
.centerAlign{
	text-align: center;
}
.rightAlign{
	text-align: right;
}
.text-edit-buttons{
	text-align: center;
}
.input-link{
	display: none;
}
.selected{
	background: #FE57A1;
	color:white;
}
.video-inputs{
	position: relative;
	text-align: center;
	padding-top: 20%;
}
.video-container{
	text-align: center;
}