/* H5BP styles. */
@import "../vendor/h5bp/css/style.css";
html,body,.main,.feed, input{
	height:100%;
	font-family: 'Marcellus', serif;
}
html{
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
	background-color:#f5f5f5 !important;
}
.post-init, .post-section, .post-loading, .posting, .facebook-login, .posting-container,.post-sec{
	height:100%;
}
.post-section, .post-loading,.add-toolbar{
	display: none;
}
.facebook-login, .add-toolbar {
	text-align:center;
}
.add-toolbar{
	width: 100%;
	position: fixed;
	bottom: 0px;
}
.facebook-login img{
	cursor: pointer;
	margin-top:24%;
}
.remove-section{
	position: absolute;
	right: 15px;
}